body{
    padding-top: 30px;
    font-size: calc(17px + 0.390625vw);
    color: white;
    background-color: grey;
}
.box{
    text-align: center;
}
div#screen{
    margin: auto;
    width:390px;
    border: 2px solid red;
    padding: 5px;
}
@media screen and (max-width:430px) {
    body{
        padding: 0;
    }
    div#screen{
        margin: 0;
    }
}
input, button{
    font-size: calc(16px + 0.390625vw);
}

.grid{
    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-rows: max-content max-content;
    column-gap: 10px;
    row-gap: 10px;
}
.title{
    background-color: rgb(11, 87, 90);
    padding: 7px;

    border-radius: 15px;
}

h2{
    width: max-content;
    padding: 0;
}
.border{
    border-bottom: 2px solid white;
    margin-bottom: 10px;
    max-width: fit-content;
}
#clock{
    font-size: calc(25px + 0.390625vw);
    height: 40px;
    text-align: left;
}

#box{
    position: fixed;
    left: 50%;        /* Move the element horizontally to the center of the screen */
    bottom: 5px;     /* Position it at the bottom with a 20px margin */
    transform: translateX(-50%); /* Offset by 50% of the element's width to truly center it */
    margin: 0 auto;   /* Optional: ensure the auto margin doesn't interfere */
    display: flex;
    flex-wrap: nowrap;
    
}
#address{
    padding: 5px;
    margin-top: 0;
    margin-bottom: 5px;
    text-align: left;
    font-size: calc(8px + 0.390625vw);
}
#padd{
    padding-left: 10px;
}
#weather{
    width: 200px;
    margin-top: 10px;
}
#date{
    margin-bottom: 20px;
}
#temperature,#weather{
    font-size: calc(30px + 0.390625vw);
    font-weight: 900;
}
#border{
    width: 99%;
    margin: 10px auto 10px auto;
    background-color: #ffffff;
    height: 5px;
}
button{
    width: 250px;
}